body{
    background-color: rgb(248, 191, 200);
    color: rgb(0, 0, 0);
    font-family: ;
}

#container{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(245, 206, 206);
    padding: 30px;
    border-left: double white;
    border-right: double white;
}
p{
    line-height: 2.25em;
    font-family: 'Courier New', Courier, monospace
    
}
h1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    color: rgb(90, 40, 40);
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}
img{
    width:300px;
    float:left;
    border: solid 3px rgb(147, 132, 132);
    border-radius: 9px;
    margin-right: 20px;
}
#pic2{
    width:300px;
    float:right;
    border: solid 3px rgb(147,132,132);
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 0px;
}
#sidebar{
    background-color: rgb(195, 138, 138);
    font-family:'Courier New', Courier, monospace;
    border: solid rgb(232, 226, 226) 3px;
    padding: 20px;
    width: 250px;
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
    color:rgb(232, 226, 226);
}

@media (max-width:1200px){
    #container{
        width: 800px;
    }
}

@media (mad-width:992px){
    #container{
        width: 100%;
        margin:0;
        padding: 0;
        border:none;

    }
    body{
        padding:20px;
        background-color: #333
    }
}

@media (max-width:768px){
    #sidebar{
        display:none;
    }
}